*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/fondo.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

/*nav img{
    width: 100px;
    border-radius: 1px;
}*/

.logo-header a{
    color:#E6E6E6;
    text-decoration:  none;
    font-size: 18px;
    font-weight: 900;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #E6E6E6;
    text-decoration:  none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #E6E6E6;
    display: block;
    margin: auto;
    transition: 1s;
}

.nav-links ul li:hover:after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #E6E6E6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
    font-weight: 900;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #E6E6E6;
}

.download-btn{
    display: inline-block;
    text-decoration: none;
    color: #E6E6E6;
    border: 1px solid #E6E6E6;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

.download-btn:hover{
    border: 1px solid #010922;
    background: #010922;
    transition: 1s;
}

nav .fa-solid{
    display: none;
}

@media(max-width: 700px) {
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color:#E6E6E6;
        margin: 10px;
        font-size: 22px;
        cursor:pointer;
    }
    .nav-links ul{
        padding: 30px;

    }
}

/*-------PRODUCTO----------*/
.producto{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color:#282828;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.producto-col{
    flex-basis: 31%;
    background: #C3CEE0;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.producto-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*FUNCIONALIDADES*/
.funcionalidades{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.funcion-col{
    flex-basis: 32%;
    border-radius: 60px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.funcion-col img{
    width: 85%;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.layer:hover{
    background: rgba(21, 85, 126, 0.85);
    transition: 1s;
}

.layer h3{
    width: 100%;
    font-weight:700;
    color: transparent;
    font-size: 24px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer p{
    width: 60%;
    font-weight: 400;
    color: transparent;
    font-size: 16px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer:hover P{
    color:#E6E6E6;
    bottom: 30%;
    opacity: 1;
}

.layer:hover h3{
    color: #E6E6E6;
    bottom: 49%;
    opacity: 1;
}
/*Se anadio estilo en el css para la parte del about*/
/*ABOUT US*/

.footer{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.about{
    width: 100%;
    padding: 78px 0px;
    background-color: #fff;
}

.about img {
    height: auto;
    width: 420px;
}

.text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text h1{
    color: #0B2161;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    
}

.text p{
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background: #0B2161;
    color: #fff;
    text-decoration: none;
    border: 5px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background: transparent;
    border: 2px solid #0B2161;
    cursor: pointer;
    color: black;
}
/*FALTA QUE LA PARTE DEL ABOUT SEA RESPONSIVE*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .main{
        flex-direction: column;
    }
}
/*Equipo*/

.team{
    position: relative;
    width: 100%;
    height: 100vh;
    /*background: radial-gradient(#CEECF5,#071418);*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

.team-content {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 4rem;
}

.team-content img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}

.center{
    width: 80%;
    margin: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.box {
    padding: 16px;
    background:#FAFAFA;
    border-radius: 15px;
    transition: all .38s ease;
}

.box h3 {
    font-size: 23px;
    font-weight: 600;
    color: #0B0B61;
    margin-bottom: 8px;
}

.box h5 {
    font-size: 15px;
    font-weight: 600;
    color:#0B0B3B;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.icons i{
    display: inline-block;
    color:black;
    font-size: 20px;
    margin: 0 8px;
    transition: all .38s ease;
}

.icons i:hover {
    transform: scale(1.2);
}

.box:hover{
    transform: scale(1.1);
    z-index: 0.1;
    cursor: pointer;
}

@media(max-width: 1240px){
    .team{
        width: 100%;
        height: auto;
        padding: 90px 2%;
    }

    .center h1{
        font-size: 3.2rem;
    }
}

/*CONTACTO*/
.contact-us{
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

.contact-us h1{
    text-align: center;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa-solid{
    font-size: 28px;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p{
    padding: 0;
}

.contact-col div h5{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btnEnviar{
    position: relative;
    padding: 10px 22px;
    background: #010922;
    border-radius: 6px;
    color: #E6E6E6;
    border: none;
    font-size: 12px;
    font-weight: 500;
    cursor:pointer;
    transition: transform 0.2 ease;
    box-shadow: 0 5px 10 px rgba(0, 0, 0, 0.1);
}

.btnEnviar:active{
    transform: scale(0.96);    
}


/*ABOUT US*/
.footer{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
